@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
}

<h3>Server IP:</h3>
<p>@ViewBag.ServerIp</p>

<form method="post" asp-action="DecryptCookie" class="my-4">
    <div class="form-group">
        <label for="cookieValue" class="my-2">Decrypt Auth Cookie</label>
        <input type="text" id="cookieValue" name="cookieValue" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary my-2">Decrypt Cookie</button>
</form>

@if (ViewBag.DecryptedData != null)
{
    <h3>Decrypted Data:</h3>
    <pre>@ViewBag.DecryptedData</pre>
}

<h3>User Claims:</h3>
<ul>
    @foreach (var claim in (IEnumerable<Claim>)ViewBag.UserClaims)
    {
        <li>@claim.Type: @claim.Value</li>
    }
</ul>

